doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  link(rel='stylesheet' href='../stylesheets/homepage.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../stylesheets/heart.css')
  link(rel='stylesheet' href='../stylesheets/navbar.css')
ul
  li
    a(href='/home') Articles 
  li
    a(href='/profile') Profile 
  li 
    if(userName)
    a(href='/login/signout') Sign Out
script.
    $(document).ready(function(){
    
    console.log('calling ajax');
    jQuery.ajax({
    url: '/articles',
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList').append(resultRows);
    },
    });
    $('#search').click(function(){
    jQuery.ajax({
    url: '/articles?query=' + $('#input').val(),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    );
    });
    function filterArticles() {
    jQuery.ajax({
    url: '/articles?query=' + $('#input').val(),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
h2 Learn About Climate Change
input#input(type='text' onkeyup='filterArticles()' placeholder='Search for articles..' title='Type a name')
button#search Search

table#articleList
  tr
    th ARTICLES
  
