doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='../stylesheets/homepage.css')

if(userName)
  a(href='/login/signout') Sign Out
  h2 Welcome #{userName}
h2 Learn About Climate Change
input#input(type='text' onkeyup='filterArticles()' placeholder='Search for articles..' title='Type a name')
table#table

  tr.header
    th(style='width:60%;') Article Name
  tr
    td
      a(href='https://www.bloomberg.com/news/articles/2019-09-18/investors-managing-16-trillion-demand-action-on-deforestation')
        .article_div
          | Investors With $16 Trillion Want Deforestation Action
  tr
    td
      a(href='https://news.mongabay.com/2019/09/brazilian-amazon-fires-scientifically-linked-to-2019-deforestation-report/ ')
        .article_div
          | Brazilian Amazon fires scientifically linked to 2019 deforestation: report
  tr
    td
      a(href='https://e360.yale.edu/features/will-deforestation-and-warming-push-the-amazon-to-a-tipping-point ')
        .article_div
          | Will Deforestation and Warming Push the Amazon to a Tipping Point?
  tr
    td
      a(href='https://science.sciencemag.org/content/365/6456/853 ')
        .article_div
          | Amazon fires clearly linked to deforestation, scientists say
  tr
    td
      a(href='https://www.nationalgeographic.com/environment/2019/08/wildfires-in-amazon-caused-by-deforestation/ ')
        .article_div
          | The Amazon is burning at record rates&mdash;and deforestation is to blame
  tr
    td
      a(href='https://truthout.org/articles/10-things-you-need-to-know-about-the-fires-in-the-amazon/')
        .article_div
          | 10 Things You Need to Know About the Fires in the Amazon
  tr
    td
      a(href='https://news.mongabay.com/2019/09/amazon-deforestation-and-development-heighten-amazon-fire-risk-study/ ')
        .article_div
          | Amazon deforestation and development heighten Amazon fire risk: study
  tr
    td
      a(href='https://www.latimes.com/opinion/editorials/la-ed-climate-change-crisis-global-warming-part-1-story.html ')
        .article_div
          | Editorial: Climate change is already here. 2020 could be your last chance to stop an apocalypse
  tr
    td
      a(href='https://www.scientificamerican.com/article/global-warming-has-been-influencing-drought-for-a-century/ ')
        .article_div
          | Global Warming Has Been Influencing Drought for a Century
  tr
    td
      a(href='https://www.usatoday.com/story/news/nation/2019/03/15/california-drought-free-after-7-years-dry-conditions-remain/3168753002/ ')
        .article_div
          | Mediterranean climate&apos;: California drought ends after more than 7 years, but dry conditions will return
  tr
    td
      a(href='https://www.business-standard.com/article/pti-stories/poor-countries-will-need-to-increase-carbon-footprint-to-address-hunger-study-119091700109_1.html ')
        .article_div
          | Developing nations should increase carbon footprint to tackle hunger: Study
  tr
    td
      a(href='https://www.manilatimes.net/2019/09/19/opinion/columnists/topanalysis/poor-countries-must-increase-carbon-footprint-to-address-hunger-says-study/618571/ ')
        .article_div
          | Poor countries must increase carbon footprint to address hunger, says study
  tr
    td
      a(href='https://www.wsj.com/articles/how-to-get-rid-of-carbon-emissions-pay-farmers-to-bury-them-11568211869 ')
        .article_div
          | How to Get Rid of Carbon Emissions: Pay Farmers to Bury Them
  tr
    td
      a(href='https://www.scientificamerican.com/article/climate-change-is-having-widespread-health-impacts/ ')
        .article_div
          | Climate Change Is Having Widespread Health Impacts
  tr
    td
      a(href='https://www.truthdig.com/articles/climate-change-is-already-hitting-europe-harder-than-anyone-expected/ ')
        .article_div
          | Climate Change Is Already Hitting Europe Harder Than Anyone Expected
  tr
    td
      a(href='https://www.nature.com/immersive/d41586-019-02711-4/index.html ')
        .article_div
          | The hard truths of climate change &mdash; by the numbers
  tr
    td
      a(href='https://eos.org/articles/global-warming-is-conquering-the-vikings ')
        .article_div
          | Global Warming Is Conquering the Vikings
  tr
    td
      a(href='https://insideclimatenews.org/news/03092019/hurricane-dorian-climate-change-stall-record-wind-speed-rainfall-intensity-global-warming-bahamas ')
        .article_div
          | Why Are Hurricanes Like Dorian Stalling, and Is Global Warming Involved?
  tr
    td
      a(href='https://www.scientificamerican.com/article/earths-orbital-shifts-may-have-triggered-ancient-global-warming/ ')
        .article_div
          | Earth&rsquo;s Orbital Shifts May Have Triggered Ancient Global Warming


script.
  function filterArticles() {
  var input, filter, table, tr, td, i, textValue;
  input = document.getElementById("input");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
  textValue = td.textContent || td.innerText;
  if (textValue.toUpperCase().indexOf(filter) > -1) {
  tr[i].style.display = "";
  } else {
  tr[i].style.display = "none";
  }
  }
  }
  }
