doctype html

head
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery.canvasjs.min.js')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='../stylesheets/homepage.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../stylesheets/navbar.css')
  script.
    $(function(){
    $('#graphForm').submit(function(event) {
    event.preventDefault();
    var featureType = $("#feature").val();
    jQuery.ajax({
    url: '/graph?type='+featureType,
    success: function(json) {
    console.log(json);
    $("#chartContainer").CanvasJSChart(json);
    },
    });
    });
    });

ul
  li
    a(href='/home') Articles 
  li 
    if(!userName)
    else
      a(href='/login') Sign In/Register

br
h2 Learn About Climate Change
br
p The Earth's climate has changed throughout history. Just in the last 650,000 years there have been seven cycles of glacial advance and retreat, with the abrupt end of the last ice age about 7,000 years ago marking the beginning of the modern climate era and of human civilization. Most of these climate changes are attributed to very small variations in Earth's orbit that change the amount of solar energy our planet receives.
p checkout the past years data in graphical representation. Sign in for more details and articles !

br
form#graphForm.form-inline(action='')
  select.rounded.buttonOnHome#feature
    option(value='temp') Avg Temparature
    option(value='rain') Avg Rainfall
  button.buttonOnHome.rounded(type='submit' style='') View Graph
br
br
#chartContainer(style='height: 300px; width: 90%;')
