doctype html
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='../stylesheets/style.css')
.text-white
  .display-middle
    h1.animate-top CLIMATE CHANGE
    form(action='/login')
      input(type='submit' value='LOG IN')
      input(type='submit' value='CONTINUE TO SITE' formaction='/home')
