doctype html
head
  link(rel='stylesheet' href='../stylesheets/style.css')
if(loginMsg)
  .text-white
    .display-top
      h1.animate-top #{loginMsg}
if(registerMsg)
  .text-white
    .display-top
      h1.animate-top #{registerMsg}
.login-page
  div
    form.form(action='/login/signin' method='post')
      p Username: Must be at least 6-12 characters
      p Password: Must be at least 6 characters, at least one number
      input(type='text' placeholder='username' name='user' required='' pattern="[0-9]{6}")
      input(type='password' placeholder='password' name='password' required='' pattern="[0-9]{6}")
      button(type='submit' value='Submit') SIGN IN
.login-page
  div
    form.form(action='/login/register' method='post')
     p Username: Must be at least 6-12 characters
     p Password: Must be at least 6 characters, at least one number 
     input(type='text' placeholder='username' name='user' required='' pattern="[0-9]{6}")
     input(type='password' placeholder='password' name='password' required='' pattern="[0-9]{6}")
     button(type='submit' value='Submit') REGISTER
