doctype html
head 
      link(rel='stylesheet' href='../stylesheets/navbar.css')
style. 
    #profile-pic {
        object-fit: cover;
        width: 100px;
        height: 100px;
        float: left; 
    } 
ul
  li
    a(href='/') Home
  li
    a(href='/home') Articles 
  li
    a(href='/profile') Profile 
  li
    a(href='/') About 
  li 
    if(userName)
    a(href='/login/signout') Sign Out

h2 Username: #{userName}
img#profile-pic(alt='pic')
h2
  |  Profile Picture
input#profile_pic(type='file')
script. 
    document.getElementById("profile_pic").onchange = function() {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('profile-pic').setAttribute('src', e.target.result);
            };
    reader.readAsDataURL(this.files[0]);
        }
    }