<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>



<div class="login-page">
  <div>
    <form class="form" action="/login/signin" method="post">
    	<label>
		<% if (message1) { %>
  			<%= message1 %>
		<% } %>
		</label>
        <input type="text" placeholder="username" name="user" required/>
     	<input type="password" placeholder="password" name="password" required/>
      <button type="submit" value="Submit">SIGN IN</button>
    </form>
  </div>
</div>

<div class="login-page">
  <div>
    <form class="form" action="/login/register" method="post">
   		<label>
		<% if (message2) { %>
  			<%= message2 %>
		<% } %>
		</label>
        <input type="text" placeholder="username" name="user" required/>
      	<input type="password" placeholder="password" name="password" required/>
      	<button type="submit" value="Submit">REGISTER</button>
    </form>
  </div>
</div>



</body>
</html>

