* { box-sizing: border-box;}

#input {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#table th, #myTable td {
  text-align: left;
  padding: 12px;
}

#table tr {
  border-bottom: 1px solid #ddd;
}

#table tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.article_div{
  height:100%;
  width:100%; 
  display:block;
}
#heart {
  color: grey;  
  font-size: 50px;
}

#heart.red {
  color: red;
}

body{
  counter-reset: visited_counter;
}

/* a:visited {
  color: rgb(26, 102, 42);
  counter-increment: visited_counter;
}
a:visited::after{
  content: "Viewed"
} */